header {
  max-width: 2000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 18rem;
  background-color: white;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.h-ul {
  display: flex;
  gap: 50px;
  font-weight: 500;
  padding-right: 60px;
}
.h-h1 {
  font-weight: 100;
  font-size: 30px;

  color: #666;
}

.h-h1:hover {
  color: black;
  cursor: pointer;
}

.h-ul li {
  font-size: 16px;
  font-weight: 300;
  color: #4c4c4c;
}
.h-ul li:hover {
  color: #0693e3;
  cursor: pointer;
}

.h-p {
  color: #3a52bf;
  font-size: 20px;
  padding-left: 10px;
}
